div#answers-start {
    display: none;
    visibility: hidden;
}

@media print {
    input#answers-print-checkbox:not(:checked) ~ div#answers-start ~ article.page,
    input#answers-print-checkbox,
    label[for="answers-print-checkbox"] {
        display: none;
        visibility: hidden;
    }
}

input#answers-print-checkbox {
    display: none;
    visibility: hidden;
}

input#answers-print-checkbox + label[for="answers-print-checkbox"] {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px black solid;
    padding: 5px;
    background: white;
    opacity: .25;
    border-radius: 5px;

    transition: opacity, background-color;
    transition-duration: .5s;
}

input#answers-print-checkbox + label[for="answers-print-checkbox"]:hover {
    opacity: .75;
}

input#answers-print-checkbox:checked + label[for="answers-print-checkbox"] {
    opacity: 1;
    background: yellow;
}