li {
    text-align: start;
}

ol:not(.outside-position-list), ul:not(.outside-position-list) {
    list-style-position: inside;
}

ol:not(.padding-list), ul:not(.padding-list) {
    padding: 0;
}

ol:not(.margin-list), ul:not(.margin-list) {
    margin: 0;
}

@import './list/big-bullet-list.css';
@import './list/bullet-list.css';
@import './list/cyrillic-parentheses-list.css';
@import './list/multicolumn-list.css';