html {
    counter-reset: task;
}

section.task, section.task-continue {
    text-align: justify;
    vertical-align: bottom;
}

section.task:not(.sub-task) {
    counter-increment: task;
    counter-reset: sub-task;
}

.sub-task-start + article.page {
    counter-increment: pages task;
    counter-reset: sub-task;
}

.sub-task-start {
    display: none;
}

section.task.sub-task {
    counter-increment: sub-task;
}

.sub-task-start + article.page > .reminder:first-of-type {
    text-align: center;
}

section.task::before {
    margin-left: -12.4mm;
    display: block;
    position: absolute;
    content: counter(task);
    font-weight: bold;
    text-align: center;

    outline: .25mm black solid;
    outline-offset: .4mm;
    width: 7.5mm;
}

section.sub-task::before {
    content: counter(task) '.' counter(sub-task);
}

section.task:not(.no-answer-field)::after,
section.task-continue:not(.no-answer-field)::after {
    display: block;
    margin-top: 2mm;
    margin-bottom: 7mm;
    content: 'Ответ: ___________________________.';
}

section.task.no-answer-field + section.task,
section.task.no-answer-field + div.reminder {
    margin-top: 7mm;
}

#detailed-part-start {
    display: none;
}

#detailed-part-start ~ article.page section.task::after,
#detailed-part-start ~ article.page section.task-continue::after {
    display: none;
}

#detailed-part-start ~ article.page section.task,
#detailed-part-start ~ article.page section.task-continue {
    margin-bottom: 7mm;
}

section.task[style*="--descend-task-number:"]::before {
    margin-top: var(--descend-task-number);
}