ol.special-margin-list:not(.margin-list),
ul.special-margin-list:not(.margin-list) {
    margin-left: 1em;
}

ol.special-margin-list > li::before,
ul.special-margin-list > li::before {
    display: block;
    position: absolute;
    margin-left: -1em;
}