table.spreadsheet {
    white-space: nowrap;
}

table.spreadsheet * {
    text-overflow: ellipsis;
    overflow: hidden;
}

table.spreadsheet tr:first-child, table.spreadsheet td:first-child {
    background: lightgray;
    font-weight: bolder !important;
    font-family: "Arial Black", serif;
}

ol.task-14-list li {
    padding-left: 1mm;
    margin-top: 1em;
    margin-bottom: 1em;
}