.task-15-1-list {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin: 1em 0;
}

.task-15-1-list > :not(:last-child) {
    margin-right: 4mm;
}

.task-15-1-list > :first-child {
    margin-left: auto;
}

.task-15-1-list > :last-child {
    margin-right: auto;
}

img.task-15-1-field {
    margin: 1em auto;
    height: 5cm;
    width: auto;
}