ol.code-fix-objectives {
    list-style: none;
    counter-reset: code-fix-objectives;
}

ol.code-fix-objectives > li {
    padding-left: 8mm;
}

ol.code-fix-objectives > li::before {
    display: block;
    position: absolute;
    margin-left: -4mm;
    counter-increment: code-fix-objectives;
    content: counter(code-fix-objectives) ')\a0';
}