section.task-26-sub-task > header {
    font-weight: bold;
}

ol.task-26-ordered-task-list, ul.task-26-conditions {
    list-style: none;
    padding: 0;
    margin: 0 0 0 8mm;
}

ol.task-26-ordered-task-list > li::before, ul.task-26-conditions > li::before {
    position: absolute;
    margin-left: -4mm;
}

ol.task-26-ordered-task-list > li:nth-child(1)::before {
    content: 'а)';
}

ol.task-26-ordered-task-list > li:nth-child(2)::before {
    content: 'б)';
}

ul.task-26-conditions > li::before {
    content: '−';
}