img.task-3-scheme {
    max-height: 100%;
    height: 100%;
    max-width: 100%;
}

table.task-3-table td {
    width: 4mm !important;
    min-width: unset !important;
}

table.task-3-table tr:nth-child(-n + 2) td,
table.task-3-table tr:nth-child(3) td:nth-child(-n + 2),
table.task-3-table td:first-child {
    border: 2px black solid;
}