div.task-22-commands {
    font-weight: bold;
    counter-reset: task-22-commands;
    margin-left: 4mm;
}

div.task-22-commands div {
    counter-increment: task-22-commands;
}

div.task-22-commands div::before {
    content: counter(task-22-commands)'.\00a0\00a0';
}